html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 597.6158498004099px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -124px;
	margin-bottom: 10px;
}

#pu6277
{
	width: 0.01px;
	padding-bottom: 345px;
	left: -150px;
	position: relative;
}

#u6277
{
	z-index: 2;
	width: 1160px;
	background-image: url("../images/header%20tile.png");
	padding-bottom: 49px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 50px;
}

#u6277_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1106-3
{
	z-index: 5;
	width: 30px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 256px;
}

#menuu6304
{
	z-index: 62;
	width: 149px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 321px;
}

#u6324
{
	width: 149px;
	padding-bottom: 65px;
}

#u6324:hover
{
	background-image: url("../images/pawprint-u6324-r-fr.png");
	margin: 0px;
}

#u6326-4
{
	width: 149px;
	min-height: 14px;
	margin-right: -10000px;
	top: 32px;
}

#u6324:hover #u6326-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u6324:active #u6326-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#menuu6278
{
	z-index: 55;
	width: 149px;
	margin-right: -10000px;
	margin-top: 73px;
	left: 512px;
}

#u6321,#u6295
{
	width: 149px;
	min-height: 79px;
	margin-right: -10000px;
}

#u6296
{
	width: 149px;
	padding-bottom: 65px;
}

#u6296:hover
{
	background-image: url("../images/pawprint-u6324-r-fr.png");
	margin: 0px;
}

#u6297-4
{
	width: 149px;
	min-height: 14px;
	margin-right: -10000px;
	top: 32px;
}

#u6324.MuseMenuActive #u6326-4,#u6296:hover #u6297-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u6296:active #u6297-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u6296.MuseMenuActive #u6297-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#menuu6251
{
	z-index: 69;
	width: 127px;
	margin-right: -10000px;
	margin-top: 73px;
	left: 695px;
}

#u6268
{
	width: 127px;
	min-height: 79px;
	margin-right: -10000px;
}

#u6271
{
	width: 127px;
	padding-bottom: 50px;
}

#u6271:hover
{
	background-image: url("../images/pawprint-u6271-r-fr.png");
	margin: 0px;
}

#u6271.MuseMenuActive
{
	background-image: url("../images/menu%20buckle%20-%20trainers.png");
	margin: 0px;
}

#u6272-4
{
	width: 127px;
	min-height: 29px;
	margin-right: -10000px;
	top: 25px;
}

#u6271:hover #u6272-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u6271:active #u6272-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u6794-3
{
	z-index: 52;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 935px;
}

#menuu6227
{
	z-index: 83;
	width: 141px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 1016px;
}

#u6228
{
	width: 141px;
	min-height: 77px;
	margin-right: -10000px;
}

#u6229
{
	width: 141px;
	padding-bottom: 48px;
}

#u6229:hover
{
	background-image: url("../images/pawprint-u6229-r-fr.png");
	margin: 0px;
}

#u6231-4
{
	width: 141px;
	min-height: 29px;
	margin-right: -10000px;
	top: 24px;
}

#u6271.MuseMenuActive #u6272-4,#u6229:hover #u6231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u6229:active #u6231-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u6378
{
	z-index: 8;
	width: 100%;
	position: fixed;
	bottom: 46px;
}

#menuu6330
{
	z-index: 76;
	width: 145px;
	margin-right: -10000px;
	margin-top: 157px;
	left: 910px;
}

#u6331
{
	width: 145px;
	min-height: 77px;
	margin-right: -10000px;
}

#u6334
{
	width: 145px;
	padding-bottom: 48px;
}

#u6334:hover
{
	background-image: url("../images/pawprint-u6334-r-fr.png");
	margin: 0px;
}

#u6324.MuseMenuActive,#u6296.MuseMenuActive,#u6229.MuseMenuActive,#u6334.MuseMenuActive
{
	background-image: url("../images/menu-buckle---services.png");
	margin: 0px;
}

#u6336-4
{
	width: 145px;
	min-height: 29px;
	margin-right: -10000px;
	top: 24px;
}

#u6229.MuseMenuActive #u6231-4,#u6334:hover #u6336-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u6334:active #u6336-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u6334.MuseMenuActive #u6336-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u6328
{
	z-index: 91;
	width: 372px;
	margin-right: -10000px;
}

#u6328_states
{
	height: 367px;
	width: 372px;
}

#u6275
{
	z-index: 94;
	width: 65px;
	top: 257px;
	left: 10px;
}

#u6275:hover
{
	margin: 0px;
}

#menuu6808
{
	z-index: 127;
	width: 509px;
	margin-right: -10000px;
	margin-top: 151px;
	left: 700px;
}

#u6809
{
	width: 509px;
	min-height: 23px;
	margin-right: -10000px;
}

#u6810
{
	width: 509px;
	padding-bottom: 8px;
}

#u6275.MuseLinkActive,#u6810:hover
{
	margin: 0px;
}

#u6811-4
{
	width: 509px;
	min-height: 15px;
	margin-right: -10000px;
	top: 4px;
}

#u6810:hover #u6811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px -10000px 0px 0px;
}

#u6810:active #u6811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px -10000px 0px 0px;
}

#u6810.MuseMenuActive #u6811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px -10000px 0px 0px;
}

#slideshowu6384
{
	z-index: 10;
	width: 0.01px;
	height: 268px;
	position: fixed;
	bottom: 116px;
	left: 50%;
	margin-left: 175px;
}

#u6413
{
	position: absolute;
	width: 278px;
	height: 253px;
	background-color: transparent;
	top: 15px;
}

#u6413popup
{
	z-index: 11;
}

#u6536
{
	z-index: 12;
	width: 262px;
	height: 237px;
	border-width: 8px;
	border-style: solid;
	border-color: #DCDCDC;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u6545
{
	z-index: 14;
	width: 262px;
	height: 237px;
	border-width: 8px;
	border-style: solid;
	border-color: #DCDCDC;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u6545_img
{
	padding-top: 31px;
	padding-bottom: 32px;
}

#u6554
{
	z-index: 16;
	width: 262px;
	height: 237px;
	border-width: 8px;
	border-style: solid;
	border-color: #DCDCDC;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u6563
{
	z-index: 18;
	width: 262px;
	height: 237px;
	border-width: 8px;
	border-style: solid;
	border-color: #DCDCDC;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u6572
{
	z-index: 20;
	width: 262px;
	height: 237px;
	border-width: 8px;
	border-style: solid;
	border-color: #DCDCDC;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u6581
{
	z-index: 22;
	width: 262px;
	height: 237px;
	border-width: 8px;
	border-style: solid;
	border-color: #DCDCDC;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u6536_img,#u6554_img,#u6563_img,#u6581_img
{
	padding-left: 52px;
	padding-right: 52px;
}

#u6590
{
	z-index: 24;
	width: 262px;
	height: 237px;
	border-width: 8px;
	border-style: solid;
	border-color: #DCDCDC;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u6572_img,#u6590_img
{
	padding-top: 31px;
	padding-bottom: 31px;
}

#u6385-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	line-height: 1.4;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 210px;
}

#u6385-4popup
{
	z-index: 26;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u6608-20
{
	z-index: 32;
	width: 410px;
	min-height: 16px;
	position: fixed;
	bottom: 161px;
	left: 50%;
	margin-left: -296px;
}

#u6608-16
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6608-16  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u6608-2,#u6608-6,#u6608-8,#u6608-10,#u6608-12
{
	font-size: 24px;
}

#u6608-4,#u6608-14
{
	font-size: 20px;
}

#u6368
{
	z-index: 101;
	width: 61px;
	top: 326px;
	left: 14px;
}

#u6810.MuseMenuActive,#u6368:hover
{
	margin: 0px;
}

#u6302
{
	z-index: 96;
	width: 88px;
	min-height: 24px;
	top: 373px;
	left: 69px;
}

#u6366
{
	z-index: 99;
	width: 61px;
	top: 391px;
	left: 14px;
}

#u6368.MuseLinkActive,#u6366:hover
{
	margin: 0px;
}

#u6495
{
	z-index: 30;
	width: 154px;
	position: fixed;
	bottom: 36px;
	left: 50%;
	margin-left: 37px;
}

#u6360
{
	z-index: 97;
	width: 61px;
	top: 456px;
	left: 14px;
}

#u6366.MuseLinkActive,#u6360:hover
{
	margin: 0px;
}

#u6937
{
	z-index: 3;
	width: 65px;
	top: 525px;
	left: 10px;
}

#u6360.MuseLinkActive,#u6937:hover
{
	margin: 0px;
}

#u6937.MuseLinkActive
{
	margin: 0px;
}

#u6365
{
	z-index: 103;
	width: 1160px;
	height: 52px;
	bottom: -4px;
	left: 0px;
}

#u6801-6
{
	z-index: 121;
	width: 388px;
	min-height: 20px;
	bottom: 8px;
	left: 192px;
}

#u6357-4
{
	z-index: 113;
	width: 81px;
	min-height: 16px;
	bottom: 22px;
	right: 205px;
}

#u6362-4
{
	z-index: 109;
	width: 72px;
	min-height: 16px;
	bottom: 22px;
	right: 314px;
}

#u6363-4
{
	z-index: 117;
	width: 154px;
	min-height: 8px;
	bottom: 22px;
	right: 23px;
}

#u6358
{
	z-index: 104;
	width: 66px;
	bottom: 22px;
	right: 425px;
}

#u6359-4
{
	z-index: 105;
	width: 66px;
	min-height: 16px;
	margin-right: -10000px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

